# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Información personal privada
src/config/personalInfo.ts
Info_Personal.txt

# Archivos personales
src/assets/CV Miguel Cortez 2025.pdf
src/assets/Foto_Mia.jpg
public/CV Miguel Cortez 2025.pdf